# ELT Process

### Libraries

In [1]:
import pandas as pd
from pathlib import Path
import sqlalchemy as sql

## Portugal Data

DataSource: https://tradingeconomics.com/portugal/tourist-arrivals

In [2]:
# Upload data from the CSV
portugal_df = pd.read_csv(Path('Data/portugal_data.csv'))
portugal_df.head()

,Country,Category,DateTime,Value,Frequency,HistoricalDataSymbol,LastUpdate
0,Portugal,Tourist Arrivals,1964-01-31T00:00:00,90000,Monthly,PORTUGALTOUARR,2015-08-21T14:52:00
1,Portugal,Tourist Arrivals,1964-02-29T00:00:00,105000,Monthly,PORTUGALTOUARR,2015-08-21T14:52:00
2,Portugal,Tourist Arrivals,1964-03-31T00:00:00,154000,Monthly,PORTUGALTOUARR,2015-08-21T14:52:00
3,Portugal,Tourist Arrivals,1964-04-30T00:00:00,166000,Monthly,PORTUGALTOUARR,2015-08-21T14:52:00
4,Portugal,Tourist Arrivals,1964-05-31T00:00:00,295000,Monthly,PORTUGALTOUARR,2015-08-21T14:52:00

In [3]:
# Verify Variables
portugal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               700 non-null    object
 1   Category              700 non-null    object
 2   DateTime              700 non-null    object
 3   Value                 700 non-null    int64
 4   Frequency             700 non-null    object
 5   HistoricalDataSymbol  700 non-null    object
 6   LastUpdate            700 non-null    object
dtypes: int64(1), object(6)
memory usage: 38.4+ KB

In [4]:
#Transform Object to Date
portugal_df['Date'] = pd.to_datetime(portugal_df['DateTime'])
portugal_df.head()

,Country,Category,DateTime,Value,Frequency,HistoricalDataSymbol,LastUpdate,Date
0,Portugal,Tourist Arrivals,1964-01-31T00:00:00,90000,Monthly,PORTUGALTOUARR,2015-08-21T14:52:00,1964-01-31
1,Portugal,Tourist Arrivals,1964-02-29T00:00:00,105000,Monthly,PORTUGALTOUARR,2015-08-21T14:52:00,1964-02-29
2,Portugal,Tourist Arrivals,1964-03-31T00:00:00,154000,Monthly,PORTUGALTOUARR,2015-08-21T14:52:00,1964-03-31
3,Portugal,Tourist Arrivals,1964-04-30T00:00:00,166000,Monthly,PORTUGALTOUARR,2015-08-21T14:52:00,1964-04-30
4,Portugal,Tourist Arrivals,1964-05-31T00:00:00,295000,Monthly,PORTUGALTOUARR,2015-08-21T14:52:00,1964-05-31

In [5]:
#Drop columns to keep main information
portugal_df = portugal_df.drop(['Category','DateTime','Frequency','HistoricalDataSymbol','LastUpdate'],axis = 1)
portugal_df.head()

    Country   Value       Date
0  Portugal   90000 1964-01-31
1  Portugal  105000 1964-02-29
2  Portugal  154000 1964-03-31
3  Portugal  166000 1964-04-30
4  Portugal  295000 1964-05-31

In [6]:
#Final Dataframe based on data after 2002

In [7]:
portugal_df = portugal_df[portugal_df['Date']>'2001-12-31']
portugal_df.reset_index(drop=True,inplace = True)
portugal_df = portugal_df.rename(columns = {'Value':'y',
                                           'Date':'ds'})
portugal_df.head()

    Country        y         ds
0  Portugal  1003000 2002-01-31
1  Portugal  1301000 2002-02-28
2  Portugal  1924000 2002-03-31
3  Portugal  1845000 2002-04-30
4  Portugal  2290000 2002-05-31

In [8]:
portugal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  244 non-null    object
 1   y        244 non-null    int64
 2   ds       244 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 5.8+ KB

In [9]:
data = portugal_df

## Database

In [10]:
#Database Connection String
database_connection_string = 'sqlite:///Resources/tourism_data.db'
#Create Engine
engine = sql.create_engine(database_connection_string)

In [11]:
data.to_sql('tourism_data',engine, index = False, if_exists='replace')